.contact {
    background-color: #FFF;
    color: #563818;
    padding: 24px;
    position: relative;
    text-align: center;

    @include media-query(desk) {
        height: 326px;
        padding: 24px 48px;
    }
}

.contact-title {
    font-family: 'Oleo Script';
    font-weight: 400;
    font-size: 30px;
}

.contact-body {
    position: relative;
    text-align: left;
    z-index: 222;

    @include media-query(lap) {
        width: 70%;
    }

    @include media-query(desk) {
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);

        position: relative;
        top: 50%;
        width: 35%;
    }
}

.contact-img {
    right: 6px;
    top: 48px;
    margin-bottom: 24px;
    z-index: 111;
    max-width: 100%;

    @include media-query(desk) {
        position: absolute;
    }
}
