html {
    background-color: #bbb858;
    background-image: url(../img/bg-top.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}

body {
    background-image: url(../img/bg-bot.png);
    background-position: bottom center;
    background-repeat: repeat-x;
    font-size: 14px;
}

a {
    text-decoration: none;
}
